# Dependencias
node_modules/

# Producción
dist/
dist-ssr/
*.local

# Entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editores y Sistema
.vscode/
.idea/
.DS_Store